<div class="stretch RevealSlide-content {{if centeredVertically 'RevealSlide-content--centeredVertically'}}">
  {{#presentations/slide-body align="center" display="block"}}
    <h2 class="QuoteSlide-quote">{{quote}}</h2>
    <div class="QuoteSlide-attribution">{{attribution}}</div>
  {{/presentations/slide-body}}
</div>
