.u {
  &-flex100 {
    flex-basis: 100%;
  }

  &-rounded {
    border-radius: 10px;
  }

  &-grayscale {
    filter: grayscale(83%);
  }
}

.lsgdd {
  &-Presentation {
    .Code-block {
      border-radius: 10px;
    }
  }

  &-PhoneContainer {
    width: 375px !important;
    background-color: #fff !important;
    color: #212121 !important;

    &--heightened {
      height: 667px !important;
    }
  }

  &-InlineCode {
    font-family: 'Source Code Pro' !important;
    display: inline-block;
    background-color: matca-palette-color('secondary', 'light');
    padding: .75rem 1.5rem !important;
    border-radius: 10px;

    &--subtle {
      color: matca-palette-color('foreground');
      background-color: inherit;
      padding: 0 !important;
      border-radius: inherit;
    }
  }

  &-DisclaimerText {
    text-align: left !important;
    padding-top: 1rem !important;
    font-style: italic !important;
  }

  &-Button {
    color: matca-palette-color('background');
    cursor: pointer;
    background-color: matca-palette-color('primary');
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    padding: .4rem 1rem;
    text-transform: uppercase;
    font-size: .6rem;
  }

  &-Image {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  &-Quote {
    color:  matca-palette-color('secondary');
    font-style: italic !important;
    font-size: 3rem !important;
    padding: 2rem 4rem !important;
    margin: 1rem 0 1rem 3rem !important;
    position: relative !important;

    &--tight {
      padding: 1rem 4rem !important;
    }

    &-text {
      max-width: 80%;

      &--spaced {
        padding: 1rem 0 !important;
      }
    }

    $quoteMarkerColor: matca-palette-color('secondary', 'base', .4);
    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      height: 100%;
      width: 3px;
      background: $quoteMarkerColor;
      background: linear-gradient(to bottom, transparent 0%, $quoteMarkerColor 50%, transparent 100%) !important;
    }
  }

  &-TightContainer {
    margin: 0 !important;
  }

  &-FreestyleSlide {
    .FreestyleCollection {
      &-title {
        text-transform: uppercase;
        font-weight: bold !important;
        padding: 1rem 1rem 0 !important;
      }

      &-variantList {
        display: flex !important;
        margin: 1rem !important;
        background: #fff;
      }

      &-variantListItem {
        line-height: 48px !important;

        &:hover,
        &--active {
          border-bottom: solid 3px matca-palette-color('primary', 'base') !important;
        }
      }
    }

    .FreestyleUsage {
      &-usage {
        padding-bottom: 10px !important;
      }

      &-rendered {
        padding: 1rem !important;
      }

      &-snippet {
        pre {
          border-radius: 10px;
        }
      }

      &-title {
        text-transform: uppercase;
        font-weight: bold !important;
        padding: 1rem 1rem 0 !important;
      }
    }

    .FreestyleUsage {
      &-snippet {
        pre {
          font-size: 1.4rem !important;
        }
      }
    }

    .FreestyleAnnotation {
      font-size: .9rem !important;
      padding: 0 1rem !important;

      p {
        margin: 0 0 1rem !important;
        padding: 0 !important;
        max-width: 50%;
      }
    }

    .FreestyleSnippet {
      &-title {
        font-weight: bold !important;
        padding: .5rem 1rem .2rem !important;
        font-size: .7rem !important;
      }
    }

    .FreestylePalette {
      &-title {
        padding-bottom: 2px !important;
        padding-top: 10px !important;
        font-size: 1.4rem !important;
      }

      &-description {
        font-size: .8rem !important;
        padding-bottom: 5px !important;
      }
    }

    $freestylePaletteItemBorderColor: #cecece;

    .FreestylePaletteItem {
      border: solid 1px $freestylePaletteItemBorderColor !important;
      margin: 0 5px 5px 0 !important;

      &-info {
        border-top: solid 1px $freestylePaletteItemBorderColor !important;
        padding: 5px !important;
      }

      &-hex {
        font-size: 12px !important;
        margin-bottom: 0 !important;
      }

      &-name {
        font-size: 11px !important;
        margin-top: 0 !important;
      }

      p {
        margin: 0 !important;
      }
    }

    .FreestyleTypeface {
      &-previewHero {
        font-size: 140px !important;
        line-height: 1.05 !important;
      }
      &-previewSample {
        font-size: 15px !important;
        margin: 0 !important;
      }
    }

    .FreestyleNotes {
      font-size: 1rem !important;
      padding-bottom: 1rem !important;

      &-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          padding: 0 0 1rem 0 !important;
        }

        p {
          margin: 0 !important;
        }

        // Appropriating h6 as snippet title
        h6 {
          text-transform: uppercase;
          font-weight: bold;
          padding: .5rem 0 .5rem 0 !important;
          font-size: .7rem;
          margin: 0;
        }
      }
    }

    .FreestyleUsageControls {
      padding: 1rem !important;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      font-size: 1rem;

      &-itemControl {
        padding-right: .5rem !important;
        cursor: pointer !important;
      }
    }

    img {
      border: none !important;
      box-shadow: none !important;
      margin: 0 !important;
    }

    .FreestyleMenu {
      list-style: none !important;
      padding-left: 1rem !important;
      font-size: 14px !important;

      &-item {
        text-transform: uppercase;
        padding-top: .6rem !important;
        margin: 0 !important;
      }

      &-submenu {
        list-style: none !important;
        padding-left: 1rem !important;
        margin: 0 !important;
      }

    }

    .FreestyleSection {
      &-name {
        text-transform: uppercase;
        font-weight: bold !important;
        padding: 1rem 0 .4rem !important;
        margin: 0 1rem !important;
        font-size: 1.5rem !important;
        border-bottom: solid 1px #ccc !important;
        // TODO: Calculate from $FreestyleGuide-maxWidth
        max-width: calc(1200px - 1rem) !important;
      }
    }

  }


  &-UsageSlide {
    .Code-block {
      font-size: 1.4rem !important;
    }

    &-explanation.SlideColumn  {
      .SlideBody--columns2 & {
        flex-basis: 50%;
        max-width: 50%;
        padding-right: 3rem !important;

        .lsgdd-InlineCode,
        .Code-block {
          font-size: 1.4rem !important;
        }
      }
    }
    &-usage.SlideColumn {
      .SlideBody--columns2 & {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    &-explanationLabel {
      font-weight: bold !important;
      font-size: 1.4rem !important;
      padding-top: 2rem !important;
      padding-bottom: .5rem !important;
      text-transform: uppercase;
    }

    .FreestyleUsageControls {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  &-GuideSlide {
    .FreestyleGuide {
      width: 100%;
      background: #fff;
      padding: 1rem !important;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      min-height: initial;
      overflow: scroll;

      &-header {
        display: flex !important;
      }

      &-title {
        font-size: 1.4rem !important;
        font-weight: bold !important;
      }

      &-subtitle {
        font-size: 1rem !important;
      }
    }

    .FreestyleMenu {
      list-style: none !important;
    }
  }
}
