.IframeSlide {
  &-currentIndexh {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
  }
  &-iframe {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  }

  &--wormholeEnabled {
    .IframeSlide-iframe {
      height: 100vh;
    }
  }

  &--wormholeDisabled {
    .IframeSlide-iframe {
      height: 700px;
    }
  }
}
