.SlideList {
  line-height: 3rem !important;
  font-size: 3rem !important;
  padding-left: 3rem !important;

  &--small {
    line-height: 2rem !important;
    font-size: 2rem !important;
    padding-left: 2rem !important
  }
}
