.SlideColumn {
  &--left {
    text-align: left !important;
  }

  &--center {
    text-align: center !important;
  }

  &--paddedRight {
    padding-right: 1rem !important;
  }

  &--paddedLeft {
    padding-left: 1rem !important;
  }
}
