.SlideHeader {
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;

  &--left {
    text-align: left !important;
  }

  &-super {
    font-size: 1rem !important;
    text-transform: uppercase;
    padding-bottom: .5rem !important;
    height: 1.9rem;
  }
  &-main {
    font-size: 5rem !important;
    text-transform: uppercase;
    line-height: 1 !important;
  }
  &-sub {
    font-size: 2rem !important;
    text-transform: uppercase;
    padding-top: .5rem !important;
  }
}
