{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="Are constraints good for you?"
    sub="Find out at 11"
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Fixed launch date
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>PR</li>
            <li>Features to build</li>
          </ul>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Fixed scope
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>"Everything has to look like that."</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="u-smallHeader">Fixed calendar</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-ObjectivesSlide-promise" src="assets/images/calendar-two-months.png" alt="Two months">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
