{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Commit"
    main="Are constraints good for you?"
    sub=""
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Fixed date
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>"We need to finalize our launch calendar."</li>
          </ul>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Fixed scope
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>"Everything has to look like that."</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image" src="assets/images/find-out-at-11.png" alt="Are constraints good for you? Find out at 11!">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
