{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-CssForaysSlide"}}
  {{presentations/slide-header
    super="Audit"
    main="CSS Woes"
    sub=""
  }}
  {{#presentations/slide-body columns=3}}
    {{#presentations/slide-column}}
      <h4>Global Scope</h4>
      <div class="lsgdd-TightContainer lsgdd-CssForaysSlide-imageContainer">
        <img class="lsgdd-Image lsgdd-CssForaysSlide-image lsgdd-image--boxShadow" src="assets/images/css-forays-global.png" alt="Global">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <span class="fragment">
        <h4>Specificity Battles</h4>
        <div class="lsgdd-TightContainer lsgdd-CssForaysSlide-imageContainer">
          <img class="lsgdd-Image lsgdd-CssForaysSlide-image lsgdd-image--boxShadow" src="assets/images/css-forays-specificity.png" alt="Specificity">
        </div>
      </span>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <span class="fragment">
        <h4>Cascading Furiously</h4>
        <div class="lsgdd-TightContainer lsgdd-CssForaysSlide-imageContainer">
          <img class="lsgdd-Image lsgdd-CssForaysSlide-image lsgdd-image--boxShadow" src="assets/images/css-forays-cascading.png" alt="Cascading">
        </div>
      </span>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
