{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-CssForaysSlide"}}
  {{presentations/slide-header
    super="CSS Forays"
    main="Global Scope"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer lsgdd-CssForaysSlide-imageContainer">
        <img class="lsgdd-Image lsgdd-CssForaysSlide-image lsgdd-image--boxShadow" src="assets/images/css-forays-global.png" alt="Global">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer fragment">
        <a href="https://twitter.com/thomasfuchs/status/493790680397803521">
          <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-ManifestoInspirationSlide-image--tweet" src="assets/images/css-global-tweet.png" alt="CSS forays into global scope joke territory">
        </a>
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
