{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-CssForaysSlide"}}
  {{presentations/slide-header
    super=""
    main="Globally Scoped"
    sub="CSS Forays"
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer lsgdd-CssForaysSlide-imageContainer">
        <img class="lsgdd-Image lsgdd-CssForaysSlide-image lsgdd-image--boxShadow" src="assets/images/css-forays-global.png" alt="Global">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
