{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Style Closet Tenets"
    sub=""
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
          Zero config
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Default element styles
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Cohesive systems and scales
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Usage in SCSS or markup
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Modular components
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded u-shadow u-image--s" src="assets/images/gromit-laying-track.gif" alt="Gromit laying track as we go">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
