{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Layout Components"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="u-smallHeader">Workflow Success</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-shadow u-image--l" src="assets/images/example-workflow-success-both.png" alt="Style Closet Layout Components - Workflow Success">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="u-smallHeader">Image Bleed</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-shadow u-image--l" src="assets/images/example-image-bleed-both.png" alt="Style Closet Layout Components - Image Bleed">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
