{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Layout Components"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="u-smallHeader">Content Layout "A"</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-shadow u-image--l" src="assets/images/example-content-layout-a.png" alt="Style Closet Layout Components - Content Layout A">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="u-smallHeader">Content Layout "C"</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-shadow u-image--l" src="assets/images/example-content-layout-c.png" alt="Style Closet Layout Components - Content Layout C">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
