{{#presentations/term-slide
  term="Design System"
}}
  A collection of
  <span class="u-color-green">reusable</span>
  components,<br>
  guided by
  <span class="u-color-green">clear</span>
  standards,<br>
  that can be assembled together<br>
  to build
  <span class="u-color-green">any number of</span>
  applications
  {{#presentations/slide-footer}}
  <div class="lsgdd-TightContainer">
    <img class="lsgdd-Image u-image--s2" src="assets/images/design-system-inspiration-transparent.png" alt="Inspiration">
  </div>
  <div class="lsgdd-TightContainer">
    <a class="u-smallHeader u-color-green" href="https://www.designbetter.co/design-systems-handbook/introducing-design-systems" target="_blank">https://www.designbetter.co/design-systems-handbook/introducing-design-systems</a>
  </div>
{{/presentations/slide-footer}}
{{/presentations/term-slide}}


