{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Breakpoint System"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Two main breakpoints
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li><span class="lsgdd-InlineCode">md</span></li>
            <li><span class="lsgdd-InlineCode">lg</span></li>
          </ul>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Responsive utility classes
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="u-smallHeader">SCSS mixins</div>
      {{#reveal-code language="scss" codeTheme="tomorrow-night"}}
  .element {
    // padding-top of size 12 by default
    padding-top: sc-spacing('12');

    @include sc-media('md') {
      // size 24 above md breakpoint
      padding-top: sc-spacing('24');
    }
  }
      {{/reveal-code}}

      <br />
      <div class="u-smallHeader">Responsive utility classes</div>
      {{#reveal-code language="html" codeTheme="tomorrow-night"}}
  &lt;div class="u-p-t--12 u-p-t--24@md"&gt;
    &lt;!-- padding-top of size 12 by default, size 24 above md breakpoint --&gt;
  &lt;/div&gt;
      {{/reveal-code}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
