{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Visualization Tools"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="u-smallHeader">Chrome extension</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-shadow lsgdd-Image lsgdd-image--maxHeight630" src="assets/images/design-system-visualization-chrome-extension.png" alt="Style Closet Visualization - Chrome Extension">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex40"}}
      <div class="u-smallHeader">Browser screenshots with visualizations turned on</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-Image lsgdd-image--maxHeight630" src="assets/images/design-system-visualization-pages.png" alt="Style Closet Visualization - Pages">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
