{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Style Closet"
    main="Spacing System"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
           Exponential-ish scale
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
           Multiples of 4
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
           Every space you perceive
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
           Used in other systems
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--maxHeight630" src="assets/images/design-system-spacing.png" alt="Style Closet Spacing System">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
