{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="Design System Inspiration"
    sub="Style Closet 2.0"
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--maxHeight630" src="assets/images/design-system-inspiration.png" alt="Style Closet">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
