{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="A new design system"
    sub="Why we built Style Closet 2.0"
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
          CSS is hard
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Gets harder as codebase grows</li>
            <li>Gets harder as team grows</li>
          </ul>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Style Closet 1.0
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Extraction project</li>
            <li>Unevenly adopted</li>
            <li>Incomplete</li>
            <li>Each app still had much work to do on its own</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-grayscale lsgdd-Year2009Slide-image--sully" src="assets/images/sully-hero-shot.png" alt="Captain Sully Sullenberger">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
