{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Icon Set"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
          Maintained in Sketch
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Script to generate view partials
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Modifiers for color and size
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--maxHeight630" src="assets/images/design-system-icon-builder.gif" alt="Style Closet Icon Set - Icon Builder">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
