{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Design System"
    main="Components"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image" src="assets/images/example-list.png" alt="Style Closet Components">
      </div>
      <br>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image" src="assets/images/example-dropdown-action-menu.png" alt="Style Closet Components">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex50"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image" src="assets/images/example-buttons.png" alt="Style Closet Components">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
