{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Spike"
    main="Rebrand Variant"
    sub="Workflow"
  }}
  {{#presentations/slide-body columns=3 class="u-beforeAfter"}}
    {{#presentations/slide-column}}
      <div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--s u-shadow" src="assets/images/example-coming-together-flow-1.png" alt="1">
        </div>
      </div>
      <br>
      <div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--s u-shadow" src="assets/images/example-coming-together-flow-4.png" alt="4">
        </div>
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--s u-shadow" src="assets/images/example-coming-together-flow-2.png" alt="2">
        </div>
      </div>
      <br>
      <div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--s u-shadow" src="assets/images/example-coming-together-flow-5.png" alt="5">
        </div>
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--s u-shadow" src="assets/images/example-coming-together-flow-3.png" alt="3">
        </div>
      </div>
      <br>
      <div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--s u-shadow" src="assets/images/example-coming-together-flow-sorry.png" alt="Sorry">
        </div>
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
