{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Spike"
    main="Action Pack Variants"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="u-flex50"}}
      <h3 class="fragment" data-fragment-index="1"><strong>show.html+bot.erb</strong></h3>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-shadow u-rounded u-image--m2" src="assets/images/wall-e-eve.jpg" alt="Bot variant">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex50"}}
      <h3 class="fragment" data-fragment-index="2"><strong>show.html.erb</strong></h3>
      <div class="lsgdd-TightContainer fragment" data-fragment-index="2">
        <img class="lsgdd-Image u-shadow u-rounded u-image--m2" src="assets/images/wall-e-people.jpg" alt="Vanilla variant">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
