{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Tech Dive"
    main="Regression Immunity"
    sub="Multiple view layers"
  }}
  {{#presentations/slide-body columns=3 align="left"}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/dive-view-variant-example-1.gif" alt="Good stuff">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft SlideColumn--paddedRight"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/dive-view-variant-example-2.gif" alt="Good stuff">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/dive-view-variant-example-3.gif" alt="Good stuff">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
