{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Spike"
    main="Action Pack Variants"
    sub=""
  }}
  {{#presentations/slide-body columns=2 class="u-flexJustifySpaceBetween"}}
    {{#presentations/slide-column class="u-flex60"}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
          Custom request format defined in your application
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Set the variant in a <code>before_action</code>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Provide separate templates for each variant
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex30 u-textRight"}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-image--s u-rounded u-shadow" src="assets/images/action-pack.jpg" alt="Action Pack">
    </div>
  {{/presentations/slide-footer}}
{{/reveal-slide}}
