{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Spike"
    main="Rebrand View Variant"
    sub=""
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <div class="u-smallHeader">Application Controller</div>
      {{#reveal-code language="ruby" codeTheme="tomorrow-night"}}
  class ApplicationController &lt; ActionController::Base
    before_action :set_rebrand_variant

    def set_rebrand_variant
      request.variant = :rebrand if test_track_visitor.ab :rebrand_enabled
    end
  end
      {{/reveal-code}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
