{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Spike"
    main="Rebrand Variant"
    sub=""
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <div class="lsgdd-TightContainer">
        <img class="u-shadow" src="https://via.placeholder.com/800x600/f0b95b/ffffff&text=Complex Page">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
