{{#reveal-slide class="lsgdd-IntroSlide"}}
  {{presentations/slide-header
    main="Chris LoPresto"
    sub="Some Things About Me"
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded u-grayscale lsgdd-IntroSlide-image--chrisLoPrestoBrokenPiano willow" src="assets/images/chris-lopresto-broken-piano.jpg" alt="Chris LoPresto">
    </div>
    {{#presentations/slide-list class="lsgdd-TightContainer"}}
      {{#presentations/slide-list-item}}I work at Betterment{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item}}I lead various front end shenanigans{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item}}I play the piano{{/presentations/slide-list-item}}
    {{/presentations/slide-list}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer align="left"}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image lsgdd-IntroSlide-image--betterment" src="assets/images/betterment_wordmark_black.png" alt="Betterment">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
- Betterment
- Piano
- chrislopresto / Twitter / GitHub / everywhere / Hotmail
  {{/reveal-slide-notes}}
{{/reveal-slide}}
