{{#presentations/quote-slide
    attribution=""
    backgroundColor="#444"
}}
When faced with an impossibly long list,<br>
you have two options.<br>
<br>
<span class="fragment">Shrink it or change it.</span>
{{/presentations/quote-slide}}
