{{#presentations/quote-slide
    attribution=""
    backgroundColor="#00cc9a"
    centeredVertically=true
}}
<p class="u-mb--3">
  Given an impossibly long list,
  you have two options.
</p>
<p>
  Shrink it or change it.
</p>
{{/presentations/quote-slide}}
