{{#presentations/testimonial-slide
    name="Malcolm Corden"
    description="James Corden's dad"
    image="assets/images/james-cordens-dad.jpg"
}}
  <p>
    The difference between doing something and not doing something is doing something.
  </p>
{{/presentations/testimonial-slide}}
