{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="Prebranding Betterment"
    sub="Things to have before changing everything"
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
          Feature flag framework
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Design system
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-rounded lsgdd-ObjectivesSlide-promise" src="assets/images/already-got-one.jpg" alt="When launching a design system, it helps to already have one.">
      </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
