{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Prerequisites"
    main="So you want to change everything..."
    sub=""
  }}
  {{#presentations/slide-body columns=2 class="u-flexJustifySpaceBetween"}}
    {{#presentations/slide-column class="u-flex60"}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Rebrand projects touch everything.
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          <br>
          Don't start without
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>a feature flag framework</li>
            <li>and a design system</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex40"}}
      <img class="lsgdd-Image u-rounded lsgdd-ObjectivesSlide-promise" src="assets/images/already-got-one.jpg" alt="When launching a design system, it helps to already have one.">
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
      <div class="lsgdd-TightContainer">
      </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
