{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Ruthlessly Efficient Exposition"
    main="Rebranding Betterment"
    sub=""
  }}
  {{#presentations/slide-body columns=2 class="u-flexJustifySpaceBetween"}}
    {{#presentations/slide-column class="u-flex50"}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item type='borderless'}}
          <p>Our mission was to redesign everything.</p>
          <p>In 8 weeks.</p>
          <p>In secret.</p>
          <p class="fragment" data-fragment-index="1">And make everything responsive.</p>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex40"}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer lsgdd-ObjectivesSlide-promiseContainer">
      <img class="lsgdd-Image u-rounded u-shadow u-image--s" src="assets/images/wall-e-mission.png" alt="Our mission">
    </div>
  {{/presentations/slide-footer}}
{{/reveal-slide}}
