{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="Rebranding Betterment"
    sub="On an aggressive timeframe"
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item type='borderless'}}
          Over the course of 6 months, Betterment created and unveiled a new brand identity.
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type='borderless'}}
          Two months were allotted for implementation.
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer lsgdd-ObjectivesSlide-promiseContainer">
        <img class="lsgdd-Image lsgdd-ObjectivesSlide-promise" src="assets/images/calendar-two-months.png" alt="Two months">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
