{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Ruthlessly Efficient Exposition"
    main="Rebranding Betterment"
    sub="Summary Page - Mobile"
  }}
  {{#presentations/slide-body columns=2 class="u-beforeAfter"}}
    {{#presentations/slide-column}}
      <div>
        <div class="u-smallHeader">March</div>
        <div class="lsgdd-TightContainer">
          <img class="lsgdd-Image u-image--l0 u-shadow" src="assets/images/example-before-mobile-summary.png" alt="Before">
        </div>
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="fragment">
        <div class="u-smallHeader">May</div>
        <div class="fade-in">
          <div class="lsgdd-TightContainer">
            <img class="lsgdd-Image u-image--l0 u-shadow" src="assets/images/example-after-mobile-summary.jpg" alt="After">
          </div>
        </div>
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
