{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Prerequisites"
    main="Style Closet"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="u-flex60"}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Our design system
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Shared patterns and components</li>
            <li>Integrated in all our web apps</li>
            <li class="fragment">Needed to be rewritten</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex40"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-ObjectivesSlide-promise" src="assets/images/style-closet-1.x.png" alt="When launching a design system, it helps to already have one.">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
