{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Prerequisites"
    main="Feature Flag Framework"
    sub=""
  }}
  {{#presentations/slide-body columns=2 class="u-flexJustifySpaceBetween"}}
    {{#presentations/slide-column class="u-flex60"}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Dark deploying behind a feature flag let us
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Slice work into small pieces</li>
            <li>Ship in secret</li>
            <li>Test and call audibles</li>
            <li>Change no code on launch day</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex40 u-textRight"}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-rounded u-shadow" src="assets/images/feature-flag.png" alt="Feature Flag">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <p>
      <small>
        <a href="https://hackernoon.com/silicon-valleys-top-product-managers-use-feature-flags-and-you-should-too-cc51cc1aeafb">Feature flag driven development</a>
      </small>
    </p>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
