{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and stories"
    main="Pull Requests"
    sub=""
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      <div class="u-smallHeader">Style Closet</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/commits-style-closet.png" alt="Pull requests">
      </div>
      <br>
      <div class="u-smallHeader">betterment.com</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/commits-brochure.png" alt="Pull requests">
      </div>
      <br>
      <div class="u-smallHeader">Retail (monorepo)</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/commits-better-core.png" alt="Pull requests">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
