{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="CSS Line Count"
    sub="Stats and stories"
  }}
  {{#presentations/slide-body columns=4}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <h3>Before</h3>
      <div class="u-smallHeader">Retail</div>
      <div class="lsgdd-InlineCode">
  &nbsp;4463 retail<br />
  &nbsp;5758 retail_legacy<br />
  17751 spa<br />
  ----- <br />
  27972 total
      </div>
      <br><br>
      <div class="u-smallHeader">Brochure</div>
      <div class="lsgdd-InlineCode">
      12501 total
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft"}}
      <h3>After</h3>
      <div class="u-smallHeader">Retail</div>
      <div class="lsgdd-InlineCode">
  &nbsp;&nbsp;&nbsp;4 base<br />
  1427 components<br />
  &nbsp;901 pages<br />
  ----<br />
  2332 total<br />
      </div>
      <br><br>
      <div class="u-smallHeader">Brochure</div>
      <div class="lsgdd-InlineCode">
      2089 total
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
