{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and stories"
    main="CSS Line Count"
    sub=""
  }}
  {{#presentations/slide-body columns=1 class="u-beforeAfter"}}
    {{#presentations/slide-column class="u-pr--1"}}
      <h3>Retail</h3>
      {{!-- Retail --}}
      <div class="u-smallHeader">Before</div>
      <div class="lsgdd-InlineCode">
  &nbsp;4,463 retail<br />
  &nbsp;5,758 retail_legacy<br />
  17,751 spa<br />
  ----- <br />
  27,972 total
      </div>
      <br><br>
      <h3>betterment.com</h3>
      {{!-- betterment.com --}}
      <div class="u-smallHeader">Before</div>
      <div class="lsgdd-InlineCode">
      12,501 total
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class=""}}
      <h3>&nbsp;</h3>
      <div class="u-smallHeader">After</div>
      <div class="lsgdd-InlineCode">
  &nbsp;&nbsp;&nbsp;&nbsp;4 base<br />
  1,427 components<br />
  &nbsp;&nbsp;901 pages<br />
  ----<br />
  2,332 total<br />
      </div>
      <br><br>
      <h3>&nbsp;</h3>
      <div class="u-smallHeader">After</div>
      <div class="lsgdd-InlineCode">
      2,089 total
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
