{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and stories"
    main="CSS Line Count"
    sub=""
  }}
  {{#presentations/slide-body columns=1 class="u-beforeAfter"}}
    {{#presentations/slide-column class="u-pr--3"}}
      <h3>Retail</h3>
      <div class="u-bigNumber">
        10,221
      </div>
      <br><br>
      <h3>betterment.com</h3>
      <div class="u-bigNumber">
        12,501
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class=""}}
      <div class="lsgdd-TightContainer u-pt--2h">
        <img class="lsgdd-Image u-image--xs" src="assets/images/arrow-right-2.png" alt="Arrow Right">
      </div>
      <div class="lsgdd-TightContainer u-pt--6h">
        <img class="lsgdd-Image u-image--xs" src="assets/images/arrow-right-2.png" alt="Arrow Right">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-pl--3"}}
      {{!-- Retail --}}
      <h3>&nbsp;</h3>
      <div class="u-bigNumber">
        2,332
      </div>
      <br><br>
      {{!-- betterment.com --}}
      <h3>&nbsp;</h3>
      <div class="u-bigNumber">
        2,089
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
