{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and stories"
    main="CSS Specificity"
    sub="Retail"
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      <div class="u-smallHeader">Retail Reskin</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/specificity-graph-retail-opt-out.png" alt="CSS specificity">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="u-smallHeader">Retail Rebrand</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/specificity-graph-retail-rebrand.png" alt="CSS specificity">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
