{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and stories"
    main="CSS Payload Size"
    sub=""
  }}
  {{#presentations/slide-body columns=1 class="u-beforeAfter"}}
    {{#presentations/slide-column class="u-pr--3"}}
      <h3>Style Closet</h3>
      <div class="u-bigNumber">
        23 KB
      </div>
      <br><br>
      <h3>Retail</h3>
      <div class="u-bigNumber">
        86 KB
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class=""}}
      <div class="lsgdd-TightContainer u-pt--2h">
        <img class="lsgdd-Image u-image--xs" src="assets/images/arrow-right-2.png" alt="Arrow Right">
      </div>
      <div class="lsgdd-TightContainer u-pt--6h">
        <img class="lsgdd-Image u-image--xs" src="assets/images/arrow-right-2.png" alt="Arrow Right">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-pl--3"}}
      {{!-- Style Closet --}}
      <h3>&nbsp;</h3>
      <div class="u-bigNumber">
        36 KB
      </div>
      <br><br>
      {{!-- Retail --}}
      <h3>&nbsp;</h3>
      <div class="u-bigNumber">
        40 KB
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <p>
      <small>
        <a href="https://github.com/katiefenn/parker">Stylesheet analysis</a>
      </small>
    </p>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
