{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and stories"
    main="CSS Analysis"
    sub=""
  }}
  {{#presentations/slide-body columns=1 class="u-beforeAfter"}}
    {{#presentations/slide-column class="u-pr--1"}}
      <h3>Style Closet</h3>
      {{!-- Style Closet --}}
      <div class="u-smallHeader">Before</div>
      <div class="lsgdd-InlineCode lsgdd-InlineCode--small">
        Total Stylesheet Size (gzip): 23K<br />
        Total Selectors: 2335<br />
        Specificity Per Selector: 17.2<br />
        Total Id Selectors: 0<br />
      </div>
      <br><br>
      <h3>Retail</h3>
      {{!-- Retail --}}
      <div class="u-smallHeader">Before</div>
      <div class="lsgdd-InlineCode lsgdd-InlineCode--small">
        Total Stylesheet Size (gzip): 86K<br />
        Total Selectors: 9135<br />
        Specificity Per Selector: 26.8<br />
        Total Id Selectors: 377<br />
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class=""}}
      <h3>&nbsp;</h3>
      {{!-- Style Closet --}}
      <div class="u-smallHeader">After</div>
      <div class="lsgdd-InlineCode lsgdd-InlineCode--small">
        Total Stylesheet Size (gzip): 36K<br />
        Total Selectors: 3446<br />
        Specificity Per Selector: 12.0<br />
        Total Id Selectors: 0<br />
      </div>
      <br><br>
      <h3>&nbsp;</h3>
      {{!-- Retail --}}
      <div class="u-smallHeader">After</div>
      <div class="lsgdd-InlineCode lsgdd-InlineCode--small">
        Total Stylesheet Size (gzip): 40K<br />
        Total Selectors: 4052<br />
        Specificity Per Selector: 13.0<br />
        Total Id Selectors: 1<br />
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}

  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
