{{#presentations/benefit-slide
    lede="Fortune favors the prepared"
    qualifier="Rebrand in retrospect"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">As systems compose,</li>
    <li class="BenefitSlide-detailListItem">the impossible becomes possible.</li>
  </ul>
{{/presentations/benefit-slide}}
