{{#presentations/benefit-slide
    lede="Trailblazing ensures trails"
    qualifier="Rebrand in retrospect"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Engineers are at their most dangerous</li>
    <li class="BenefitSlide-detailListItem">when backed into a corner.</li>
  </ul>
{{/presentations/benefit-slide}}
