{{#presentations/benefit-slide
    lede="Fortune favors the prepared"
    qualifier="A bonanza in retrospect"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">System development continuously makes</li>
    <li class="BenefitSlide-detailListItem">the previously impossible possible.</li>
  </ul>
{{/presentations/benefit-slide}}
