{{#presentations/benefit-slide
    lede="Surround yourself with good people"
    qualifier="Deep thoughts"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Something about respect goes here,</li>
    <li class="BenefitSlide-detailListItem">preferably profound.</li>
  </ul>
{{/presentations/benefit-slide}}
