{{#presentations/benefit-slide
    lede="Constraint breeds creativity"
    qualifier="A bonanza in retrospect"
    hasDetail=false
}}
  <ul class="BenefitSlide-detailList">
    {{!-- <li class="BenefitSlide-detailListItem">Necessity is the mother of invention</li>
    <li class="BenefitSlide-detailListItem">... as the saying goes</li> --}}
  </ul>
{{/presentations/benefit-slide}}
