{{#presentations/benefit-slide
    lede="Mistakes are going to happen"
    qualifier="Rebrand in retrospect"
    detailFragment=false
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Make it difficult for them to matter.</li>
  </ul>
{{/presentations/benefit-slide}}
