{{#presentations/benefit-slide
    lede="Fortune favors the prepared"
    qualifier="A bonanza in retrospective"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">This project plan was made possible</li>
    <li class="BenefitSlide-detailListItem">by years of hard work.</li>
  </ul>
{{/presentations/benefit-slide}}
