{{#reveal-slide centeredVertically="true" class="lsgdd-ThanksSlide" data-background="#212121"}}
  {{#presentations/slide-body align="center" display="block"}}
    <div class="lsgdd-ThanksSlide-content">
      <h1 class="lsgdd-ThanksSlide-thanks frivolous">thanks...</h1>
      <div class="lsgdd-ThanksSlide-message">
        For less reasoned pontification, follow me on Twitter.
      </div>
      <div class="lsgdd-ThanksSlide-twitter frivolous">
        <a href="http://twitter.com/chrislopresto">@chrislopresto</a>
      </div>
      <div class="lsgdd-ThanksSlide-tomster">
        <img class="lsgdd-Image lsgdd-ThanksSlide-image--betterment" src="assets/images/betterment_wordmark_white.png" alt="Betterment">
      </div>
    </div>
  {{/presentations/slide-body}}
{{/reveal-slide}}
