{{#reveal-slide centeredVertically=true}}
  {{#presentations/slide-body align="center" display="block"}}
    <h1>Hot Swapping<br>Our Rails Front End<br>In Secret</h1>
    <h3>A Rebrand Story</h3>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <p>
      <small>
        <a href="http://chrislopresto.com">Chris LoPresto</a> /
        <a href="http://twitter.com/chrislopresto">@chrislopresto</a>
      </small>
    </p>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
- Hello
- Thanks
- Happy
  {{/reveal-slide-notes}}
{{/reveal-slide}}
