{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Trailblazing"
    main="Two Design System Manifests"
    sub=""
  }}
  {{#presentations/slide-body columns=3}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <div class="u-smallHeader">Rebrand Manifest</div>
      {{#reveal-code language="scss" codeTheme="tomorrow-night"}}
  $blueish-font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  $blueish: #2179ee;
  $white: #ffffff;

  html {
    background-color: $blueish;
    color: $white;
    font-size: 16px;
    font-family: $blueish-font-stack;
  }
      {{/reveal-code}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft SlideColumn--paddedRight"}}
      <div class="u-smallHeader">Typography</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/trailblaze-two-manifests-1.gif" alt="Maybe not...">
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft"}}
      <div class="u-smallHeader">Buttons</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/trailblaze-two-manifests-2.gif" alt="Maybe not...">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
