{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Trailblazing"
    main="Two CSS Manifests"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <div class="u-smallHeader">New rebrand CSS manifest</div>
      {{#reveal-code language="scss" codeTheme="tomorrow-night"}}
  $blueish-font-stack: 'Helvetica Neue', sans-serif;
  $blueish: #2179ee;
  $white: #ffffff;

  html {
    background-color: $blueish;
    color: $white;
    font-family: $blueish-font-stack;
  }
      {{/reveal-code}}
      <br>
      <div class="u-smallHeader">Two stylesheet tags</div>
      {{#reveal-code language="html" codeTheme="tomorrow-night"}}
&lt;link rel="stylesheet" href="default.css" data-css-manifest="old" disabled&gt;
&lt;link rel="stylesheet" href="rebrand.css" data-css-manifest="new"&gt;
      {{/reveal-code}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft"}}
      <div class="u-smallHeader">Design system docs site "rebranded"</div>
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image lsgdd-image--boxShadow lsgdd-image--maxHeight630" src="assets/images/trailblaze-two-manifests-2.png" alt="Maybe not...">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
{{/reveal-slide}}
