{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Trailblazing"
    main="Launch Techniques"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <h3>Idea</h3>
      <p>
        Ship two CSS manifests.
      </p>
      <p>
        Use feature flag to determine which CSS to load.
      </p>
      <p>
        Aim for stable markup to minimize scope.
      </p>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="SlideColumn--paddedLeft"}}
      <h3 class="fragment" data-fragment-index="1">Result</h3>
      <p>
        <span class="fragment" data-fragment-index="1">✅ &nbsp;</span>
      </p>
      <p>
        <span class="fragment" data-fragment-index="2">✅ &nbsp;</span>
      </p>
      <p>
        <span class="fragment" data-fragment-index="3">❌ &nbsp;</span>
      </p>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
