{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Trailblazing"
    main="Launch Techniques"
    sub=""
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column class="SlideColumn--paddedRight"}}
      <h3>Idea</h3>
      <p>
        Ship two CSS manifests
      </p>
      <p>
        New CSS behind feature flag
      </p>
      <p>
        Aim for stable markup
      </p>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
