{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Trailblazing"
    main="Launch Techniques"
    sub=""
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column class=""}}
      <div class="ReportCard u-shadow u-flex70">
        <div class="ReportCard-body">
          <div class="ReportCard-spacer"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-bodyItem">
            <h3 class="ReportCard-headerItemText">Idea</h3>
          </div>
          <div class="ReportCard-bodyItem ReportCard-spacedBodyItem">
            <h3 class="ReportCard-headerItemText">Result</h3>
          </div>
        </div>
        <div class="ReportCard-body">
          <div class="ReportCard-spacer"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-bodyItem">Rebrand design system</div>
          <div class="ReportCard-bodyItem ReportCard-spacedBodyItem">
            <p class="ReportCard-score"><span class="ReportCard-scoreMark fragment" data-fragment-index="1">✅</span></p>
          </div>
        </div>
        <div class="ReportCard-body">
          <div class="ReportCard-spacer"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-bodyItem">Use new CSS behind feature flag</div>
          <div class="ReportCard-bodyItem ReportCard-spacedBodyItem">
            <p class="ReportCard-score"><span class="ReportCard-scoreMark fragment" data-fragment-index="2">✅</span></p>
          </div>
        </div>
        <div class="ReportCard-body">
          <div class="ReportCard-spacer"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-divider"></div>
          <div class="ReportCard-bodyItem">Add view logic</div>
          <div class="ReportCard-bodyItem ReportCard-spacedBodyItem">
            <p class="ReportCard-score"><span class="ReportCard-scoreMark fragment" data-fragment-index="3">❌</span></p>
          </div>
        </div>
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded u-shadow u-image--s" src="assets/images/good-sounding-bad-idea.jpg" alt="Not sure if good idea... or bad sounding good idea">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
