{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super="Stats and Stories"
    main="So what's next?"
    sub=""
  }}
  {{#presentations/slide-body columns=2 class="u-flexJustifySpaceBetween"}}
    {{#presentations/slide-column class="u-flex60"}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}
          Rails component framework
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item class="SlideListItem--withSubItems"}}
          Hybrid front end architecture
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Turbolinks</li>
            <li>Stimulus</li>
            <li>React</li>
          </ul>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Lots of feature development
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="u-flex30 u-textRight"}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-image--s" src="assets/images/rails-in-space.png" alt="Rails in space">
    </div>
  {{/presentations/slide-footer}}
{{/reveal-slide}}
